.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
/docs
Icon?
docs
/dev
/vignettes/*.pdf
/vignettes/*.png
/download_data/older_data_versions/v1_2021/lyde_data_v1
/download_data/older_data_versions/v2_2023/lyde_data_v2
/download_data/older_data_versions/v3_2024/lyde_data_v3
/download_data/older_data_versions/v3.0.1_2024/lyde_data_v3.0.1
/download_data/older_data_versions/v3.0.2_2024/lyde_data_v3.0.2
/download_data/older_data_versions/v3.0.3_2024/lyde_data_v3.0.3
/download_data/older_data_versions/v4_2025/lyde_data_v4
/download_data/v4.1.0_2025/lyde_data_v4.1.0
/sandbox
inst/doc
vignettes/*.log
.positai
